<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <main role="main">
      <div class="grid grid-centered">
        <div class="grid-cell">
          {% include navigation.html %}
          {{ content }}
          <a href="https://www.offensive-security.com/information-security-certifications/oscp-offensive-security-certified-professional/" title="Offensive Security Certified Professional" target="_blank">
            <img src="{% asset_path 'offsec-student-certified-emblem-rgb-oscp.png' %}"" />
          </a>
          <aside>
            <a class='twitter-timeline' data-widget-id='352601117097598976' href='https://twitter.com/blischalk'>
              Tweets by @blischalk
            </a>
            <script>
             //<![CDATA[
             !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
             //]]>
            </script>
          </aside>
          {% include footer.html %}
        </div>
      </div>
    </main>
    {% include javascripts.html %}
  </body>
</html>
